.home-text {
  display: flex;
  justify-content: center;
}

.home-images {
  display: flex;
  justify-content: center;
  margin-top: 75px;
}

.container {
  margin-top: 5%;
  width: 90%;
  display: flex;
  justify-content: center;
}

.card {
  padding: 5px;
}
